* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 10%;
}

.tab{
    overflow: hidden;
    background-color: rgb(103, 0, 98);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

body{
    height: 100vh;
    width: 100vw;
    background: rgb(30, 29, 29);
}

.tab button{
    padding: 10px;
    width: 100px;
    background-color: rgb(212, 142, 255);
    transition: all ease-in-out .5s;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.tab button:hover{
    background-color: rgba(146, 3, 124, 0.679);
    color: white;
}

main{
    height: 100%;
}

.inicio{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inicio.show{
    display: flex;
}

h2{
    font-size: 2rem;
    color: white;
}

.tabcontent{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.ex4.show{
    display: flex;
}
.ex1.show{
    display: flex;
}
.ex2.show{
    display: flex;
}
.ex3.show{
    display: flex;
}
.ex5.show{
    display: flex;
}
.ex6.show{
    display: flex;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px;
}

.main button{
    width: 120px;
    padding: 20px;
    background-color: rgb(166, 7, 174);
    color: white;
    transition: all ease-in-out .5s;
    border: none;
    border-radius: 10px;
}

.main button:hover{
    background-color: rgb(222, 123, 239);
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form input{
    padding: 20px;
}


